*{font-family: Arial;
  font-weight: 50pt;
  padding-top: 5px;}

body {
    background-color: #2f3644;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    padding-bottom: auto;
    border-color: #97a4c7;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

p {
    display: block;
    padding-left: 10px;
    width: 278px;
    font-size: 15px;
    color:#97a4c7;
} 

h1 {
    display: block;
    margin-left: 15px;
    height: 30px;
    width: 285px;
    line-height: 10px;
    margin-top: 35px;
    font-size: 30px;
    color: #97a4c7;
    margin-bottom: -30px;
}

form {
    font-size:11.5px;
    font-weight: 550;
    background-color: #2f3644;
    border-radius: 5px;
}

#button {
  display: block;
  width: 96.5%;
  height: 40px;
  margin: 55px auto 20px;
  font-size: 11px;
  font-weight: 500;
  color: white;
  background-color: #6c63ff;
  border: 2px #090916 solid;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

span {
    display: block;
    margin: 3px 10px;
    width: 278px;
    font-size: 10px;
    color: #fe5f55;
}

.formElement {
    display: block;
    margin: auto;
    height: 32px;
    width: 95%;
    max-width: 600px;
    border: 2px solid;
    border-radius: 5px;
    border-color: #40465d;    
    text-indent: 10px;
    outline: none;
    transition: 0.3s;
}

.input {
    margin: 1em auto;
    height: 70px;
    display: block;
    margin-top: 30px;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.valid {
    border-color: #50ce67;
    border-radius: 3px;
}

.invalid {
    border-color: #fe5f55;
    border-radius: 3px;
}

.errorIcon {
    background-image: url('images/error-icon.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: 525px;
    background-position-y: 10px;
}

.successIcon {
    background-image: url('images/success-icon.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: 525px;
    background-position-y: 10px;
}
